codeblock {
  color: light-dark(#222222, #ddd);
}
.bs-code-comment {
  color: light-dark(#79bb4a, #838c86);
}
.bs-code-keyword {
  color: light-dark(#ad590e, #ea943e);
}
.bs-code-string {
  color: light-dark(#007130, #449515);
}
.bs-code-number {
  color: light-dark(#073f85, #6c99ec);
}
.bs-code-operator {
  color: light-dark(#2b476a, #9ec1ff);
}
.bs-code-struct {
  color: light-dark(#ac2187, #a17fbd);
}
.bs-code-type {
  color: light-dark(#0d8db3, #63bbd9);
}
.bs-code-parenthesis {
  color: light-dark(#a6814e, #bcac52);
}
